body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    min-height: 64px;
    background-image: url("https://raw.communitydragon.org/11.19/plugins/rcp-fe-lol-clash/global/default/assets/images/background/background-lobby.jpg");
    background-color: #ffffff;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
  }


.titulo1 {
    color: rgb(165, 194, 194);
    font-size: 36px;
}

.texto1 {
    font-size: 23px;
    color: whitesmoke;
}

.input {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
}

.resultadoA {
    color: white;
    font-size: 45px;
}

.base {
    color:rgb(36, 36, 36);
    font-size: 18px;
}

.expoente {
    color:rgb(36, 36, 36);
    font-size: 18px;
}