body {
    background-color: rgb(26, 26, 26);
    background: rgb(185, 185, 185);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.corpo {
    background: rgb(104, 104, 104);
    text-align: center;
    border-radius: 15px;
    width: 800px;
    height: 500px;
}

.texto1 {
    font-size: 19px;
}

.titulo {
    font-size: 30px;
}

.botao {
    border-radius: 10px;
    font-size: 25px;
}