body{
    background-image: url("https://raw.communitydragon.org/11.19/plugins/rcp-fe-lol-clash/global/default/assets/images/background/background-lobby.jpg");
    background-color: #ffffff;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container{
    text-align: center;
    width: auto;
    height: 400px;
    background-size: auto;
    box-shadow: darkturquoise;
    border-radius: 25px;
    background-color:#6495ed;
}

.titulo1{
    font-size: 36px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    color: rgb(48, 48, 48);
}

.fatorial {
    font-size: 26px;
    border-radius: 5px;
}

.botao {
    font-size: 20px;
    border-radius: 5px;
    font-family: fantasy;
}

.texto1 {
    font-size: x-large;
    color: rgb(0, 0, 0);
}

.resultadoA {
    font-size: 56px;
    font-family: fantasy;
    color: rgb(0, 0, 0);

}