body {
    font-family: "Roboto Mono", monospace;
    min-height: 64px;
    background-image: url("https://raw.communitydragon.org/11.19/plugins/rcp-fe-lol-clash/global/default/assets/images/background/background-lobby.jpg");
    background-color: #ffffff;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
  }

.formacao {
    font-size: large;
    text-align: center;
    color: azure;
}

.média {
    color: rgb(165, 194, 194);
    font-size: 64px;
    text-align: center;
}

.input {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
}